@page "/ThisOrThat/Leaderboard"
@using TheCrewCommunity.Services
@inject GeneralUtils GeneralUtils
@inject IThisOrThatLeaderboardService LeaderboardService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@rendermode InteractiveServer
<HeadContent>
    <meta property="og:title" content="This or That Leaderboard" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NavigationManager.Uri" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="@GetTop5VehiclesDescription()" />
</HeadContent>
<div class="header-container">
    <div class="header-content">
        <h1 class="main-title">This or That Leaderboard</h1>
        <div class="controls-container">
            <div class="search-wrapper">
                <input type="text" class="search-box" placeholder="Search" @bind-value="_searchText" @bind-value:event="oninput"/>
                @if (!string.IsNullOrEmpty(_searchText))
                {
                    <button class="clear-search-button" @onclick="() => _searchText = string.Empty">✖</button>
                }
                <i class="search-icon">🔍</i>
            </div>
        </div>
    </div>
</div>
<div class="content-layout">
    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th @onclick="() => SetSortMode(SortMode.V2)" style="cursor: pointer; text-align: center;">Rank</th>
                <th style="width: 100%">Vehicle</th>
                <th>Total Wins</th>
                <th>Points</th>
                <th class="table-image-column">Thumbnail</th>
            </tr>
            </thead>
            <tbody>
            @if (FilteredEntries == null)
            {
                <tr>
                    <td colspan="5">Loading...</td>
                </tr>
            }
            else
            {
                <Virtualize Items="@FilteredEntries" Context="entry" ItemSize="50" OverscanCount="20">
                    <tr class="table-row @(_selectedEntry == entry ? "selected-row" : "")" @onclick="() => SelectEntry(entry)">
                        <td class="rank-cell @GetRankClass(entry.V2Rank)">@entry.V2Rank</td>
                        <td>@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year</td>
                        <td>@entry.TotalWins</td>
                        <td>@entry.V2Points</td>
                        <td class="thumbnail-cell"><img src="https://imagedelivery.net/Gym1gfQYlAl-qmVmCPEnkA/@entry.VehicleSuggestion.ImageId/leaderboardThumb" alt="@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year"/></td>
                    </tr>
                </Virtualize>
            }
            </tbody>
        </table>
    </div>
    <div class="preview-container">
        @if (_selectedEntry != null)
        {
            <img class="preview-image selected-preview" src="https://imagedelivery.net/Gym1gfQYlAl-qmVmCPEnkA/@_selectedEntry.VehicleSuggestion.ImageId/public" alt="@_selectedEntry.VehicleSuggestion.Brand - @_selectedEntry.VehicleSuggestion.Model - @_selectedEntry.VehicleSuggestion.Year"/>
        }
    </div>
</div>
@if (!_isMobile)
{
    <GoogleAdSense AdsFormat="horizontal" Slot="8708810204" Style="display:inline-block;width:700px;height:100px" FullWidthResponsive="false"/>
}

@code {
    private enum SortMode
    {
        V1,
        V2
    }
    
    private SortMode _currentSortMode = SortMode.V2;
    TimeSpan UntilRefresh { get; set; }
    List<ThisOrThatLeaderboardService.LeaderboardEntry>? _leaderboardEntries;
    ThisOrThatLeaderboardService.LeaderboardEntry? _selectedEntry;
    string _searchText = "";
    bool _isMobile = false;

    private void SetSortMode(SortMode mode)
    {
        _currentSortMode = mode;
    }

    private string GetSortIndicator(SortMode mode)
    {
        return _currentSortMode == mode ? "▼" : "";
    }
    
    List<ThisOrThatLeaderboardService.LeaderboardEntry>? FilteredEntries
    {
        get
        {
            if (_leaderboardEntries is null) return null;
            if (string.IsNullOrWhiteSpace(_searchText))
            {
                return _currentSortMode switch
                {
                    SortMode.V1 => _leaderboardEntries
                        .OrderByDescending(entry => entry.WinRatio)
                        .ThenByDescending(entry => entry.TotalWins)
                        .ToList(),
                    SortMode.V2 => _leaderboardEntries
                        .OrderByDescending(entry => entry.V2Points)
                        .ToList(),
                    _ => _leaderboardEntries
                };
            }
                var query = _leaderboardEntries
                .Select(entry => new
                {
                    Entry = entry,
                    FullName = $"{entry.VehicleSuggestion.Brand} {entry.VehicleSuggestion.Model} {entry.VehicleSuggestion.Year}",
                    Similarity = GeneralUtils.CalculateStringSimilarity(
                        _searchText.AsSpan(),
                        $"{entry.VehicleSuggestion.Brand} {entry.VehicleSuggestion.Model} {entry.VehicleSuggestion.Year}".AsSpan()
                    )
                })
                .OrderByDescending(x => x.Similarity);

            if (_currentSortMode == SortMode.V1)
            {
                return query
                    .ThenByDescending(x => x.Entry.WinRatio)
                    .ThenByDescending(x => x.Entry.TotalWins)
                    .Select(x => x.Entry)
                    .ToList();
            }
            return query
                .ThenByDescending(x => x.Entry.V2Points)
                .Select(x => x.Entry)
                .ToList();
        }
    }


    private void SelectEntry(ThisOrThatLeaderboardService.LeaderboardEntry entry)
    {
        if (_selectedEntry == entry)
        {
            _selectedEntry = null;
            return;
        }
        _selectedEntry = entry;
    }

    private string GetRankClass(int rank)
    {
        return rank switch
        {
            <= 3 => "rank-platinum",
            <= 10 => "rank-gold",
            <= 25 => "rank-silver",
            _ => "rank-bronze"
        };
    }

    protected override async Task OnInitializedAsync()
    {
        _leaderboardEntries = LeaderboardService.GetLeaderboard();
        UntilRefresh = LeaderboardService.GetNextRefreshTime() - DateTime.Now;
        
        var userAgent = HttpContextAccessor?.HttpContext?.Request.Headers["User-Agent"].ToString();
        if (userAgent != null && (userAgent.Contains("Android") || userAgent.Contains("iPhone")))
        {
            _isMobile = true;
        }
    }

    private string GetTop5VehiclesDescription()
    {
        return $"Top 5 vehicles: {string.Join(", ", FilteredEntries?.Take(5).Select(x => $"{x.VehicleSuggestion.Brand} {x.VehicleSuggestion.Model} {x.VehicleSuggestion.Year}"))}";
    }
}