@page "/ThisOrThat/Leaderboard"
@using TheCrewCommunity.Services
@inject GeneralUtils GeneralUtils
@inject IThisOrThatLeaderboardService LeaderboardService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@rendermode InteractiveServer
<HeadContent>
    <meta property="og:title" content="This or That Leaderboard" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NavigationManager.Uri" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="@GetTop5VehiclesDescription()" />
</HeadContent>
<div class="header-container">
    <h3>This or That Leaderboard</h3>
    <p>Time till next refresh: @((LeaderboardService.GetNextRefreshTime()-DateTime.UtcNow).ToString("mm\\:ss"))</p>
</div>
<div class="content-layout">
    <div class="table-container">
        <div class="search-container">
            <input type="text" class="search-box" placeholder="Search..." @bind-value="_searchText" @bind-value:event="oninput"/>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th style="width: 100%">Vehicle</th>
                <th>Total Wins</th>
                <th>Total Matches</th>
                <th>Win Ratio</th>
                <th class="table-image-column">Image</th>
            </tr>
            </thead>
            <tbody>
            @if (FilteredEntries == null)
            {
                <tr>
                    <td colspan="6">Loading...</td>
                </tr>
            }
            else
            {
                <Virtualize Items="@FilteredEntries" Context="entry" ItemSize="50" OverscanCount="10">
                    <tr class="table-row" @onmouseover="() => ShowPreview(entry)">
                        <td>@entry.Rank</td>
                        <td>@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year</td>
                        <td>@entry.TotalWins</td>
                        <td>@entry.TotalMatches</td>
                        <td>@entry.WinRatio.ToString("P2")</td>
                        <td><img src="https://imagedelivery.net/Gym1gfQYlAl-qmVmCPEnkA/@entry.VehicleSuggestion.ImageId/leaderboardThumb" alt="@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year"/></td>
                    </tr>
                </Virtualize>
            }
            </tbody>
        </table>
    </div>
    <div class="preview-container">
        @if (_selectedEntry != null)
        {
            <img class="preview-image" src="https://imagedelivery.net/Gym1gfQYlAl-qmVmCPEnkA/@_selectedEntry.VehicleSuggestion.ImageId/public" alt="@_selectedEntry.VehicleSuggestion.Brand - @_selectedEntry.VehicleSuggestion.Model - @_selectedEntry.VehicleSuggestion.Year"/>
        }
        else
        {
            <p>Select a vehicle from the table</p>
        }
    </div>
</div>
@if (!_isMobile)
{
    <GoogleAdSense AdsFormat="Horizontal" Slot="4288077832" Style="height: 100px !important; width: 100% !important; display: block !important;"/>
}

@code {
    TimeSpan UntilRefresh { get; set; }
    List<ThisOrThatLeaderboardService.LeaderboardEntry>? _leaderboardEntries;
    ThisOrThatLeaderboardService.LeaderboardEntry? _selectedEntry;
    string _searchText = "";
    bool _isMobile = false;
    List<ThisOrThatLeaderboardService.LeaderboardEntry>? FilteredEntries
    {
        get
        {
            if (_leaderboardEntries is null) return null;
            if (string.IsNullOrWhiteSpace(_searchText))
            {
                var sorted = _leaderboardEntries
                    .OrderByDescending(entry => entry.WinRatio)
                    .ThenByDescending(entry => entry.TotalWins)
                    .ToList();
                return sorted;
            }
            return _leaderboardEntries
                .Select(entry => new
                {
                    Entry = entry,
                    FullName = $"{entry.VehicleSuggestion.Brand} {entry.VehicleSuggestion.Model} {entry.VehicleSuggestion.Year}",
                    Similarity = GeneralUtils.CalculateStringSimilarity(
                        _searchText.AsSpan(),
                        $"{entry.VehicleSuggestion.Brand} {entry.VehicleSuggestion.Model} {entry.VehicleSuggestion.Year}".AsSpan()
                    )
                })
                .OrderByDescending(x => x.Similarity)
                .ThenByDescending(x => x.Entry.WinRatio)
                .ThenByDescending(x => x.Entry.TotalWins)
                .Select(x => x.Entry)
                .ToList();
        }
    }


    private void ShowPreview(ThisOrThatLeaderboardService.LeaderboardEntry entry)
    {
        _selectedEntry = entry;
    }

    protected override async Task OnInitializedAsync()
    {
        _leaderboardEntries = LeaderboardService.GetLeaderboard();
        UntilRefresh = LeaderboardService.GetNextRefreshTime() - DateTime.Now;
        
        var userAgent = HttpContextAccessor?.HttpContext?.Request.Headers["User-Agent"].ToString();
        if (userAgent != null && (userAgent.Contains("Android") || userAgent.Contains("iPhone")))
        {
            _isMobile = true;
        }
    }

    private string GetTop5VehiclesDescription()
    {
        return $"Top 5 vehicles: {string.Join(", ", FilteredEntries?.Take(5).Select(x => $"{x.VehicleSuggestion.Brand} {x.VehicleSuggestion.Model} {x.VehicleSuggestion.Year}"))}";
    }
}