@page "/ThisOrThat/New"
@attribute [Authorize(Roles = "Administrator")]
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Caching.Memory
@using TheCrewCommunity.Services
@using TheCrewCommunity.ValidationAttributes
@inject ICloudFlareImageService CfImageService
@inject IDatabaseMethodService DatabaseMethodService
@inject NavigationManager NavigationManager
@inject ILogger<TOTNew> Logger
@inject IMemoryCache MemoryCache
@inject IThisOrThatLeaderboardService LeaderboardService
@inject GeneralUtils GeneralUtils
@inject IHttpContextAccessor HttpContextAccessor
@rendermode InteractiveServer

<div class="header-container">
    <div class="header-content">
        <h1 class="main-title">Add new This or That entry</h1>
    </div>
</div>

<div class="content-layout">
    <div class="form-section">
        @if (_isUploading)
        {
            <div class="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <p>UPLOADING...</p>
            </div>
        }
        else
        {
            <EditForm Model="_uploadModel" OnValidSubmit="HandleValidSubmit" class="form-container">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label for="Image">IMAGE</label>
                    <div class="input-wrapper">
                        <InputFile id="Image" accept=".jpg,.jpeg,.png,.webp" OnChange="HandleFileSelected" class="form-control file-input"/>
                        @if (_isLoading)
                        {
                            <span class="status-icon"><i class="fa fa-spinner fa-spin-pulse"></i></span>
                        }
                        @if (_isLoaded)
                        {
                            <span class="status-icon success"><i class="fa fa-check"></i></span>
                        }
                        @if (_isTooBig)
                        {
                            <span class="status-icon error"><i class="fa fa-x"></i> FILE TOO LARGE</span>
                        }
                    </div>
                    <ValidationMessage For="@(() => _uploadModel.Image)"/>
                </div>
                <div class="form-group">
                    <label for="BrandName">BRAND NAME</label>
                    <InputText type="text" class="form-control" id="BrandName" placeholder="BRAND NAME" @bind-Value="@_uploadModel.Brand" @bind-Value:after="OnInputChanged"/>
                    <ValidationMessage For="@(() => _uploadModel.Brand)"/>
                </div>
                <div class="form-group">
                    <label for="Model">MODEL</label>
                    <InputText type="text" class="form-control" id="Model" placeholder="MODEL" @bind-Value="@_uploadModel.Model" @bind-Value:after="OnInputChanged"/>
                    <ValidationMessage For="@(() => _uploadModel.Model)"/>
                </div>
                <div class="form-group">
                    <label for="Year">YEAR</label>
                    <InputText type="text" class="form-control" id="Year" placeholder="YEAR" @bind-Value="@_uploadModel.Year" pattern="\d*" @bind-Value:after="OnInputChanged"/>
                    <ValidationMessage For="@(() => _uploadModel.Year)"/>
                </div>
                <div class="form-group">
                    <label for="Description">DESCRIPTION</label>
                    <InputText type="text" class="form-control" id="Description" placeholder="DESCRIPTION" @bind-Value="@_uploadModel.Description"/>
                    <ValidationMessage For="@(() => _uploadModel.Description)"/>
                </div>
                @if (IsDuplicate)
                {
                    <div class="error-message">
                        <i class="fa fa-warning"></i> THIS VEHICLE MIGHT ALREADY EXIST IN THE LIST
                    </div>
                }
                <div class="button-group">
                    <button type="submit" class="upload-button" disabled="@(!_isLoaded)">UPLOAD</button>
                </div>
            </EditForm>
        }
    </div>

    <div class="list-section">
        <h2 class="section-title">EXISTING VEHICLES</h2>
        <div class="search-wrapper">
            <input type="text" class="search-box" placeholder="SEARCH" @bind-value="_searchText" @bind-value:event="oninput"/>
            @if (!string.IsNullOrEmpty(_searchText))
            {
                <button class="clear-search-button" @onclick="ClearSearch">✖</button>
            }
            <i class="search-icon">🔍</i>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 100%">VEHICLE</th>
                    <th class="table-image-column">THUMBNAIL</th>
                </tr>
                </thead>
                <tbody>
                @if (FilteredEntries == null)
                {
                    <tr>
                        <td colspan="2">LOADING...</td>
                    </tr>
                }
                else
                {
                    <Virtualize Items="@FilteredEntries" Context="entry" ItemSize="50" OverscanCount="20">
                        <tr class="table-row">
                            <td>@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year</td>
                            <td class="thumbnail-cell">
                                <img src="https://imagedelivery.net/Gym1gfQYlAl-qmVmCPEnkA/@entry.VehicleSuggestion.ImageId/leaderboardThumb" 
                                     alt="@entry.VehicleSuggestion.Brand - @entry.VehicleSuggestion.Model - @entry.VehicleSuggestion.Year"/>
                            </td>
                        </tr>
                    </Virtualize>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    bool _isUploading = false;
    bool _isLoading = false;
    bool _isLoaded = false;
    bool _isTooBig = false;
    readonly UploadModel _uploadModel = new();
    string _searchText = string.Empty;
    List<ThisOrThatLeaderboardService.LeaderboardEntry>? _leaderboardEntries;

    private void OnInputChanged()
    {
        _searchText = $"{_uploadModel.Brand} {_uploadModel.Model} {_uploadModel.Year}".Trim();
    }

    private void ClearSearch()
    {
        _searchText = string.Empty;
    }

    private bool IsDuplicate => FilteredEntries?.Any(x => 
        x.VehicleSuggestion.Brand.Equals(_uploadModel.Brand, StringComparison.OrdinalIgnoreCase) && 
        x.VehicleSuggestion.Model.Equals(_uploadModel.Model, StringComparison.OrdinalIgnoreCase) && 
        x.VehicleSuggestion.Year.Equals(_uploadModel.Year, StringComparison.OrdinalIgnoreCase)) ?? false;

    List<ThisOrThatLeaderboardService.LeaderboardEntry>? FilteredEntries
    {
        get
        {
            if (_leaderboardEntries is null) return null;
            if (string.IsNullOrWhiteSpace(_searchText)) return _leaderboardEntries;

            return _leaderboardEntries
                .Select(entry => new
                {
                    Entry = entry,
                    Similarity = GeneralUtils.CalculateStringSimilarity(
                        _searchText.AsSpan(),
                        $"{entry.VehicleSuggestion.Brand} {entry.VehicleSuggestion.Model} {entry.VehicleSuggestion.Year}".AsSpan()
                    )
                })
                .OrderByDescending(x => x.Similarity)
                .Select(x => x.Entry)
                .ToList();
        }
    }

    protected override void OnInitialized()
    {
        _leaderboardEntries = LeaderboardService.GetLeaderboard();
    }

    class UploadModel
    {
        [Required(ErrorMessage = "Select a file")]
        [FileSizeLimit(10485760)]
        public byte[] Image { get; set; }
        [Required(ErrorMessage = "Write brand name")]
        [StringLength(30, ErrorMessage = "Brand  name can't exceed 30 characters.")]
        public string Brand { get; set; }
        [Required(ErrorMessage = "Write Model name")]
        [StringLength(50, ErrorMessage = "Model name can't exceed 50 characters.")]
        public string Model { get; set; }
        [Required(ErrorMessage = "Write Year")]
        [StringLength(4, ErrorMessage = "Year should be 4 characters long.")]
        [RegularExpression("^[0-9]{4}$", ErrorMessage = "Year must be a 4 digit number")]
        public string Year { get; set; }
        [StringLength(200, ErrorMessage = "Description can't exceed 200 characters.")]
        public string? Description { get; set; }
    }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        _isLoading = true;
        _isLoaded = false;
        _isTooBig = false;
        using MemoryStream ms = new();
        try
        {
            await e.File.OpenReadStream(10485760).CopyToAsync(ms);
        }
        catch (IOException exception)
        {
            Logger.LogError(exception,"Failed to read file to memory stream");
            _isTooBig = true;
            _isLoading = false;
            return;
        }
        _uploadModel.Image = ms.ToArray();
        _isLoading = false;
        _isLoaded = true;
    }
    private async Task HandleValidSubmit()
    {
        _isUploading = true;
        PostImageResponse response = await CfImageService.PostImageAsync(_uploadModel.Image, false, CloudFlareImageContentType.ThisOrThat);
        if (response is {Success:true, Result:not null})
        {
            await DatabaseMethodService.AddVehicleSuggestionAsync(Guid.Parse(response.Result.Id), _uploadModel.Brand, _uploadModel.Model, _uploadModel.Year, _uploadModel.Description);
            NavigationManager.NavigateTo("/ThisOrThat/Leaderboard");
            await LeaderboardService.UpdateLeaderboardAsync();
        }
        MemoryCache.Remove("uniquePairsList");
        _isUploading = false;
    }
}